@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');
body{
    padding: 0;
    margin: 0;
}
button a{
    color: white;
    text-decoration: none;
}
nav {
    background-image: linear-gradient(rgba(0, 0, 0, 0.603),rgba(0, 0, 0, 0));
    backdrop-filter: blur(2px);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: fixed;
    width: 100%;
    color: white;
    justify-content:space-between;
    font-size: 20px;
    padding: 1% 0;
    font-family: 'Mina', sans-serif;
    z-index: 2;
}
#direcciones{
    width: 70%;
    text-align: right;
    font-weight: 550;
}
nav a{
    transform: scale(1.05);
    transition: all 0.5s;
}
nav a:hover{
    transition: all 0.3s;
    filter: drop-shadow(0px 0px 3px rgb(185, 9, 255));
}
#redes-sociales{
    width: 30%;
    filter: invert(100%);
}
nav #direcciones a{
    padding: 0 2%;
    color: white;
    width: 100%;
    text-decoration: none;
    text-align: right;
}
nav #redes-sociales a{
    padding: 0 2%;
}
nav #boton-menu{
    display: none;
}
nav label img{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    filter: invert(100%);
}


#my-video {
    position: absolute;
    min-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    z-index: -1;
}
#yo-soy{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 70px 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#descripcion{
    margin: 0 5%;
    align-self: center;
}
#imagen {
    margin: 0 5%;
}
#imagen img{
    width: 500px;
}
#seccion-me {
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.719));
    text-align: center;
    padding: 10% 0;
    color: white;
    font-family: 'Mina', sans-serif;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#seccion-me h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 10000;
}
#seccion-me p {
    font-size: 20px;
    margin-top: 0;
}
#botones{
    margin: 30px 0;
    filter: invert(100%);
}
#botones a{
    margin: 2%;
}
#botones svg:hover{
    transition: all 0.5s;
    transform: rotate(360deg);
    box-shadow: 0px 0px 50px 20px rgb(179, 245, 179);
    box-shadow: #8a34c4;
}
#botones svg:not(:hover){
    transition: 1s;
    box-shadow: #8a34c4;
    box-shadow: none;

}

#servicios {
    background-color: rgb(0, 0, 0); 
    text-align: center;
    color: white;
    font-family: 'Mina', sans-serif;
    padding: 4%;
}
#servicios h2{
    margin: 0;
}
#servicios h3{
    margin: 0;
    margin-bottom: 10px;
}
#servicios #lenguajes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
#front-end{
    margin: 10px 5%;
    background-color: rgba(12, 12, 14, 0.911);
    padding: 4% 5%;
    border-radius: 5px;
} 
#front-end img{
    width: 150px;
    height: 150px;
    margin:10px
}
#back-end{
    margin: 10px 5%;
    background-color: rgba(12, 12, 14, 0.911);
    padding: 4% 5%;
    border-radius: 5px;
}
#back-end img{
    width: 150px;
    height: 150px;
    margin:10px
}

#portafolio {
    background-image: linear-gradient(rgb(0, 0, 0),rgba(10, 10, 10, 0.61)),url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Mina', sans-serif;
    color: white;
    padding: 5% 2%;
    text-align: center;
}
#portafolio h2{
    margin: 0 8px;
    font-weight: bold;
    font-size: 35px;
}
#portafolio button {
    padding: 15px 25px;
    margin: 1% 0;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    outline: none;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}
#portafolio img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}
#portafolio button:hover{
    transition: all 0.5s;
    background-color: #d3d3d31e;
    filter: drop-shadow(0px 0px 30px #8a34c4);
}

#certificados{
    background-color: black;
    padding: 5% 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}
#certificados a{
    margin: 10px 2%;
}
#certificados img{
    width: 500px;
    height: 300px;
}
#certificados img:hover{
    transform: scale(1.03);
    transition: all 0.5s;
    box-shadow: 0px 0px 25px rgba(109, 146, 156, 0.89);
}
#certificados img:not(:hover){
    transition: all 1s;
    box-shadow: none;
    transform: scale(1);
}

#proyectos{
    background-image: linear-gradient(black,rgba(0, 0, 0, 0.678)),url("https://images.pexels.com/photos/2646237/pexels-photo-2646237.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
    color: white;
    text-align: center;
    font-family: 'Mina', sans-serif;
}
#paginas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#paginas img{
    width: 500px;
    height: 300px;
    margin: 20px 15px;
}
#paginas img:hover{
    transition: all 0.5s;
    transform: scale(1.03);
    filter: drop-shadow(0px 0px 10px #273f4b);
}
#todas-redes {
    background-color: #070808;
    padding: 4% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#todas-redes img{
    width: 50px;
    height: 50px;
    filter: invert(100%);
}
#todas-redes img:hover {
    filter: drop-shadow(0px 0px 3px rgb(85, 101, 138));
    transition: all 1.5s ease;
}
#todas-redes a{
    margin: 0 2%;
}

#contacto{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#informacion {
    width: 60%;
    padding: 0;
}
iframe {
    width: 70%;
    min-height: 55%;
}
#formulario {
    background-image: url("https://images.pexels.com/photos/5691695/pexels-photo-5691695.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 2% 0;
    text-align: center;
    font-family: 'Mina', sans-serif;
}
#formulario h2{
    margin: 0;
    margin-bottom: 3%;
}
form {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
input {
    background-color: #0708081e;
    outline: none;
    height: 50px;
    margin: 0 5%;
    color: aliceblue;
    border: none;
    border-bottom: 2px solid #222727;
    margin-bottom: 2%;
}
form button{
    font-size: 25px;
    margin: 5%;
    padding: 1% 5%;
    background-color: white;
    color: #273f4b;
    font-family: 'Mina', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    border-style: none;
    width: 50%;
    align-self: center;
}
form button:hover{
    transition: all 0.5s;
    background-color: rgb(203, 217, 236);
    cursor: pointer;
    outline: none;
}
form #enviar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
form #enviar img{
    margin: 8px 5%;
    width: 45px;
    height: 35px;
}
form p{
    margin: 0 5%;
    vertical-align: middle;
    line-height: 2;
}

footer{
    background-color: rgba(0, 0, 0, 0.979);
    color: rgba(231, 231, 231, 0.89);
    text-align: center;
    font-family: 'Mina', sans-serif;
    font-style:inherit;
    padding: 10px 5px;
}
@media (max-width:708px) {
    nav{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    nav #boton-menu{
        position: relative;
        margin: 0;
    }
    nav label img{
        display: block;
    }
    nav #direcciones{
        top: 48px;
        position: absolute;
        display:flex;
        flex-direction: column;
        background-color: rgba(28, 36, 36, 0.972);
        justify-content: center;
        text-align: left;
        align-self: center;
        align-items: center;
        align-content: center;
        align-tracks: center;
    }
    #redes-sociales,#despegable{
        width: 50%;
    }
    #despegable img{
        margin: 0 8px;
        float: right;
    }
    nav #direcciones a{
        text-align: center;
    }

    #direcciones{
        width: 100%;
        text-align: center;
    }
    #my-video{
        overflow: hidden;
    }
    #seccion-me{
        padding: 23% 0;
        padding-bottom: 8%;
    }
    #seccion-me h1{
        font-size: 35px;
    }
    #botones a{
        font-size: 18px;
    }
    #imagen img{
        width: 250px;
    }
    #servicios img {
        width: 80px;
        height: 80px;
    }
    #servicios #lenguajes{
        flex-wrap: wrap;
    }
    #certificados img{
        width: 100%;
        height: 60%;
    }
    #certificados a{
        width: 90%;
        height: 50%;
    }
    #paginas img{
        width: 90%;
        height: 70%;
    }
    #portafolio {
        padding: 10%;
    }
    #portafolio h2 {
        font-size: 30px;
    }
    #todas-redes a{
        margin: 25px 50px ;
    }
    #todas-redes img{
        width: 40px;
        height: 40px;
    }
    form, #informacion,#contacto {
        width: 100%;
    }
    iframe {
        width: 60%;
        margin-bottom: 10%;
    }
}